sharedDaemon/build/*
a.out
*.swp
heaps/proj_qtcreator
*.user
boostPractice/build
GpsReader/build
*.out
heaps/build
*/build
*/release
*/debug-build/*
2018/SearchAlgos/debug-build/*
2018/SearchAlgos/build/*
