sharedDaemon/build/*
a.out
*.swp
heaps/proj_qtcreator
*.user
boostPractice/build
GpsReader/build
*.out
heaps/build
**/build
**/win-build
*/release
*/debug-build/*
2018/AStar/debug-build/*
2018/AStar/build/*
2018/DStar/build/*
2018/RRT/build/*
**/*_build/*
**/*_build
**/.vscode/*
*.exe
